# ============================================================
# ARCHIVO: .env.example (Plantilla de Variables de Entorno)
# DESCRIPCIÓN: Plantilla de configuración con valores falsos.
#              Sirve como guía para saber qué variables necesita el
#              proyecto antes de arrancar.
# ============================================================

# --- CREDENCIALES DE POSTGRESQL ---

# Usuario administrador de la base de datos de Odoo
POSTGRES_USER=odoo

# Contraseña del usuario de base de datos.
POSTGRES_PASSWORD=password_ejemplo_db

# Nombre de la base de datos que PostgreSQL creará
POSTGRES_DB=odoo_erp

# --- CREDENCIALES DE ODOO ---

# Contraseña maestra de Odoo (Master Password).
# Se usa para poder crear, eliminar o restaurar bases de datos.
ODOO_MASTER_PASSWORD=password_ejemplo_master

# --- CREDENCIALES DE OPENLDAP ---
# Contenedor: openldap (MACVLAN: 192.168.30.22)
# Gestiona usuarios y grupos de la VLAN 10 (Usuarios internos)

# Contraseña del administrador LDAP (cn=admin,dc=tfg,dc=com)
# Solo el grupo Admin (VLAN 40) debe conocer esta contraseña.
LDAP_ADMIN_PASSWORD=password_ejemplo_ldap_admin

# Contraseña del usuario de solo lectura (cn=readonly,dc=tfg,dc=com)
# La usa Odoo para autenticar usuarios sin exponer el admin.
# La usa también PAM en las máquinas de VLAN 10.
LDAP_READONLY_PASSWORD=password_ejemplo_ldap_readonly

# Dominio base del árbol LDAP (debe coincidir con LDAP_DOMAIN en docker-compose.yml)
LDAP_DOMAIN=tfg.com
LDAP_BASE_DN=dc=tfg,dc=com
LDAP_ORG=TechSolutions SL
